body {
    background-repeat: no-repeat;
    background-size  : 60%;
    background-color : #ffffdd;
}

#texto {
    position   : absolute;
    z-index    : 5000;
    font-size  : 30px;
    bottom     : 20px;
    right      : 50px;
    color      : #006a71;
    font-family: 'Fredoka One', cursive;
}